/ {
    keymap {
        compatible = "zmk,keymap";
        default {
            bindings = <
                //  7       8           9
                &kp KP_N7  &kp KP_N8  &kp KP_N9
                //  4       5           6
                &kp KP_N4  &kp KP_N5  &kp KP_N6
                //  1       2           3
                &kp KP_N1  &kp KP_N2  &kp KP_N3
            >;
        };
    }
};